@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@tailwind base;

/* Boilerplate */

html {
  @apply antialiased font-inter leading-tight text-indigo smooth-scroll;

  font-feature-settings: 'liga' 1;
}

@supports (font-variation-settings: normal) {
  html {
    @apply font-inter-var;
  }
}

body {
  @apply bg-alice-blue m-0;
}

svg {
  height: 1em;
  width: auto;
}

svg * {
  @apply stroke-current;
}

svg.stroke-none * {
  stroke: none;
}

svg.fill * {
  @apply fill-current;

  stroke: none;
}

a {
  @apply inline-block;
}

a,
button {
  @apply transition duration-150 ease-in-out;
}

a:focus,
button:focus {
  @apply outline-none shadow-outline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wide;
}

p {
  @apply leading-normal;
}

p > a {
  @apply underline;
}

@tailwind components;

/* Custom components */

.btn {
  @apply font-medium leading-none text-center px-4 py-3;
}

.btn-primary {
  @apply text-white bg-indigo;
}

.btn-secondary {
  @apply text-indigo-light bg-teal;
}

@tailwind utilities;

/* Custom utilities */

.smooth-scroll {
  scroll-behavior: smooth;
}

.font-spacing-1 {
  letter-spacing: 1px;
}

a[disabled] {
  pointer-events: none;
}

#terms ol,
#terms ul {
  padding-inline-start: 40px;
}

#terms ol {
  list-style: decimal outside;
}

#terms ul {
  list-style: circle outside;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
}

#dialog .dialog-overlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
  z-index: 1001;
}

#dialog .dialog-content {
  color: white;
  border: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
